.anchor-pane {
    -fx-background-color: #ffffff;
}

.v-box {
    -fx-spacing: 20;
    -fx-alignment: center;
    -fx-background-color: #ffffff;
}

.grid-pane {
    -fx-alignment: center-left;
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

.text-field {
    -fx-pref-width: 250px;
    -fx-padding: 5px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: #ebebeb;
}

.button {
    -fx-background-color: #3a6ea5;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.button:hover {
    -fx-background-color: #004e98;
}

#addPasswordLabel {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #2a2a2a;
    -fx-font-family: "Montserrat";
}

#accountNameLabel, #appNameLabel, #passwordLabel, #categoryLabel {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #2a2a2a;
    -fx-font-family: "Montserrat";
}

.text-field {
    -fx-pref-width: 250px;
    -fx-padding: 5px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: #ebebeb;
}

#backButton {
    -fx-background-color: #3a6ea5;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

#backButton:hover {
    -fx-background-color: #004e98;
}

#generatePass {
    -fx-background-color: #3a6ea5;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-pref-width: 150px;
}

#generatePass:hover {
    -fx-background-color: #004e98;
}

#addPasswordButton {
    -fx-background-color: #3a6ea5;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

#addPasswordButton:hover {
    -fx-background-color: #004e98;
}

.check-box {
    -fx-font-size: 10px;
    -fx-font-family: "Montserrat";
}

.choice-box {
    -fx-pref-height: 26px;
    -fx-pref-width: 355px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.choice-box .arrow {
    -fx-background-color: #004e98;
    -fx-background-radius: 10px;
}

.choice-box .list-cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #2a2a2a;
    -fx-font-family: "Montserrat";
    -fx-font-size: 14px;
}

.choice-box .list-cell:hover {
    -fx-background-color: #f1f1f1;
}

.choice-box .list-cell:focused {
    -fx-background-color: #3a6ea5;
    -fx-text-fill: white;
}

.choice-box .text {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-font-family: "Montserrat";
}

#strengthCheck {
    -fx-font-size: 10px;
    -fx-font-family: "Montserrat";
}

#checker {
    -fx-background-color: #3a6ea5;
    -fx-text-fill: #ffffff;
    -fx-font-size: 10px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-pref-width: 95px;
    -fx-padding: 5px 10px;
}

#checker:hover {
    -fx-background-color: #004e98;
}

.password-field, .text-field {
    -fx-pref-width: 250px;
    -fx-padding: 5px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: #ebebeb;
}
